In [ ]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
"""

In [2]:
string_var = "Python"
list_var = [ 23, 26, "Jupyter", 45.23, 4+6j ]
float_var = 78.46
tuple_var = ( 23, 26, "Jupyter", 45.23, 4+6j )

In [ ]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.
"""

In [ ]:
"""
var1 -> String
var2 -> String
var3 -> List
var4 -> Float
"""

In [ ]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
"""

In [6]:
"""
/ operator(Division) : It is used to find the result of division of two numbers, which is always in decimal.
"""

44/31

1.4193548387096775

In [7]:
"""
% operator(Modulus) : It is used to find the remainder in case of division of two numbers.
"""

44%31

13

In [8]:
"""
// operator(Floor Division) : It is used to find only the quotient(floor) in the result of division of two numbers.
"""

44//31

1

In [9]:
"""
** operator(Exponent) : It is used to find the result of left operand raised to the power of left operand.
"""

4**3

64

In [ ]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
"""

In [3]:
myList = [ 23, 35, "Python", 73.68, "Lab", 4+5j, 1.23, 2-4j, True, False ]

In [4]:
for i in range(len(myList)) :
    print(myList[i])
    print(type(myList[i]))

23
<class 'int'>
35
<class 'int'>
Python
<class 'str'>
73.68
<class 'float'>
Lab
<class 'str'>
(4+5j)
<class 'complex'>
1.23
<class 'float'>
(2-4j)
<class 'complex'>
True
<class 'bool'>
False
<class 'bool'>

In [ ]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""

In [5]:
a = 12
b = 3

In [6]:
while a>b :
    remainder = a%b
    floor = a//b
    if(remainder == 0) :
        print(a," is purely divisible by ",b," by ",floor," times.")
        break
    else :
        print(a," is not purely divisible by ",b)
        break

12  is purely divisible by  3  by  4  times.

In [ ]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""

In [7]:
useList = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25 ]

In [8]:
for i in range(len(useList)) :
    if(useList[i]%3==0) :
        print(useList[i], " is divisible by 3")
    else :
        print(useList[i], " is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [ ]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
"""

In [ ]:
"""
Mutable data types- These are the data types whose values can be updated at a particular index, without changing the value of the whole
                    element.
Examples- Lists, Sets, Dictionaries, etc.

Mutable data types- These are the data types whose values cannot be updated at a particular index, whenever they are updated the are 
                    updated as a whole.
Examples- Strings, Tuples, Integer, Float, etc.
"""

"""
Example of a list showing the property of mutability is shown below:
"""

In [10]:
List1 = [ 7, 5, 6 ]

In [11]:
List1[2] = 9

In [12]:
List1

[7, 5, 9]

In [ ]:
"""
Example of a string showing the property of immutability is shown below:
"""

In [13]:
String1 = "ABCD"

In [14]:
String1

'ABCD'

In [15]:
String1 = "WXYZ"

In [16]:
String1

'WXYZ'