Q1. How do you comment code in Python? What are the different types of comments?

A1. We can comment in Python using the #(Hash) and """(Double Quotes).

There are two types of comments in Python:-

1) Single Line Comments- They are done by placing # at the start of any line we want to comment out.


2) Multi Line Comments- They are done by placing """ before and after a number of lines we want to comment out.

Examples of both types of comments are shown in the next cell.

In [ ]:
#This is a sinlge line comment

"""
This
is
a
multi
line
comment
"""

Q2. What are variables in Python? How do you declare and assign values to variables?

A2. Variables- Variables are the entities in python which are used to assign any type of value(integer, decimal, complex, boolean,string) etc.
           They behave as containers that have the references to objects in memory.

Declaring a variable- They are declared by providing a name of our choice. Some conventions are needed to be followed while naming variables
                      such as:
                      a. Variable name should only start with an alphabet or an underscore(_).
                      b. It can contain numbers, letters and underscores.
                      
Assigning a value to a variable- It is done while declaring a variable.
                                 Assignment operator(=) is used to assign a value to a variable.

In [4]:
#example of variables
name="abc"
age=21

In [5]:
name

'abc'

In [6]:
age

21

Q3. How do you convert one data type to another in Python?

A3. Conversion of a data type into another can be done by the process of Typecasting.
    There are various built in functions to do so such as-
    
    int()- converts to an integer
    str()- converts to a string
    list()- converts to a list
    float()- converts to a float
    tuple()- converts to a tuple
    
    Examples are given below...

In [7]:
var1 = 45
type(var1)

int

In [9]:
str(var1)

'45'

In [11]:
lst = [ 12, 13, 14 ]

In [12]:
type(lst)

list

In [13]:
tuple(lst)

(12, 13, 14)

Q4. How do you write and execute a Python script from the command line?

A4. Following are the steps to execute a Python script from the command line:-
    
    Step 1: Write the program in any text editor or IDE, such as Notepad or Pycharm.
    Step 2: Save the file with the extension .py, say code.py
    Step 3: Open the command prompt.
    Step 4: Type the command-> cd {file_directory_address} and press enter, for example if the file was saved on desktop, type cd desktop.
    Step 5: Type the command-> python {file_name}.py and press enter, for example, type python code.py
    Step 6: The python script will be executed and the output will be displayed.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1,2,3,4,5]

In [2]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

A6. A complex number in Mathematics is the one which has two parts- one is the real part and the other is the imaginary part.
    For Example: 4+6i is a complex number, where real part is 4, and the imaginary part is 6. The 'i' represents iota and is written along
                 with imaginary part.    
    
Represntation of complex numbers in python:
        
    Complex numbers can be formed in two ways in python while declaring avariable- either by using the in-built function 'complex'   or
    directly typing the real and imaginary parts, although 'j' is used instead of 'i'.
    
    Examples are shown below:

In [3]:
c1 = complex(4,6)
c2 = 2-3j

In [6]:
print(c1)
print(c2)

(4+6j)
(2-3j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

A7. 1) It can simply be done by declaring a variable named 'age' and assigning value 25 to it using the assignment operator(=).

    2) Alternatively, it also be done by taking input from the user with the help of input() function.
    
    Examples for both are shown below:

In [7]:
age = 25

In [8]:
age

25

In [11]:
Age=int(input("Enter the age"))

Enter the age 25

In [12]:
Age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [13]:
price = 9.99

#It has the data type float.

In [14]:
price

9.99

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
name = "Harsh Swaroop Shrivastava"

In [17]:
#Way 1
print(name)

Harsh Swaroop Shrivastava

In [18]:
#Way 2
name

'Harsh Swaroop Shrivastava'

Q10. Given the string "Hello, World!", extract the substring "World".

In [20]:
string_var = "Hello, World!"

In [22]:
string_var[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [23]:
#Since I'm a student, "is_student" should return true value

is_student = True

In [24]:
is_student

True